{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Search -->
    <section class="products-section bg-light" id="products">
        <div class="container">
            <!-- Search One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Bartholemew Recommends</h1>
                    <p class="product-text-three mx-auto text-center flex-margin-b text-blue">This is the menu I have come up with for your {{ bartholemew_event_type }}.</p>
                    <p class="product-text-three mx-auto text-center flex-margin-b text-blue">The total cost of this buffet is <span class="text-lightblue">£{{ total_cost }}</span>. That's a cost-per-person of <span class="text-lightblue">£{{ average_cost }}</span>.</p>
                    <p class="product-text-three mx-auto text-center flex-margin-b text-blue">I've added them to your basket - you can still make any last minute changes (or even try again!) before you buy.</p>
                </div>
                <div class="col-xl-6">
                    <img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/bartholemew.jpg" alt="robochef image" />
                </div>
                <div class="col-xl-6">
                    <div class="h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-3 text-xl-left">
                                <p class="product-text-two mt-2 mb-1 mx-auto text-center text-blue">Mains</p>
                                {% for product in products_list_main %}
                                    <div class="mx-auto flex-margin-b text-blue row">
                                        <div class ="col-9">
                                            <a class="product-text-two" href="{% url 'product_detail' %}?category_product={{ product.category }},{{ product.name }},selected-one">{{ product.category.friendly_name }}: {{ product.name }}</a>
                                            <span class="allergy-text">
                                                {% if product.allergies|slice:"0:1" == 'v' %}
                                                    <i class="fas fa-carrot"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"1:2" == 'g' %}
                                                    <i class="fas fa-leaf"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"2:3" == 'p' %}
                                                    <i class="fas fa-fish"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"3:4" == 'a' %}
                                                    <i class="fas fa-allergies"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"4:5" == 'h' %}
                                                    <i class="fas fa-mitten"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class ="col-3">
                                            <span class="product-text-two float-right">£{{ product.price }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <p class="product-text-two mt-2 mb-1 mx-auto text-center text-blue">Sides</p>
                                {% for product in products_list_side %}
                                    <div class="mx-auto flex-margin-b text-blue row">
                                        <div class ="col-9">
                                            <a class="product-text-two" href="{% url 'product_detail' %}?category_product={{ product.category }},{{ product.name }},selected-one">{{ product.category.friendly_name }}: {{ product.name }}</a>
                                            <span class="allergy-text">
                                                {% if product.allergies|slice:"0:1" == 'v' %}
                                                    <i class="fas fa-carrot"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"1:2" == 'g' %}
                                                    <i class="fas fa-leaf"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"2:3" == 'p' %}
                                                    <i class="fas fa-fish"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"3:4" == 'a' %}
                                                    <i class="fas fa-allergies"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"4:5" == 'h' %}
                                                    <i class="fas fa-mitten"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class ="col-3">
                                            <span class="product-text-two float-right">£{{ product.price }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <p class="product-text-two mt-2 mb-1 mx-auto text-center text-blue">Desserts</p>
                                {% for product in products_list_dessert %}
                                    <div class="mx-auto flex-margin-b text-blue row">
                                        <div class ="col-9">
                                            <a class="product-text-two" href="{% url 'product_detail' %}?category_product={{ product.category }},{{ product.name }},selected-one">{{ product.category.friendly_name }}: {{ product.name }}</a>
                                            <span class="allergy-text">
                                                {% if product.allergies|slice:"0:1" == 'v' %}
                                                    <i class="fas fa-carrot"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"1:2" == 'g' %}
                                                    <i class="fas fa-leaf"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"2:3" == 'p' %}
                                                    <i class="fas fa-fish"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"3:4" == 'a' %}
                                                    <i class="fas fa-allergies"></i>
                                                {% endif %}
                                                {% if product.allergies|slice:"4:5" == 'h' %}
                                                    <i class="fas fa-mitten"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class ="col-3">
                                            <span class="product-text-two float-right">£{{ product.price }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr class="mb-0 ml-0" />
                                <br class="d-none d-xl-block">
                                <span class="allergy-text text-lightblue">* vegan <i class="fas fa-carrot"></i>, vegetarian <i class="fas fa-leaf"></i>, pescetarian <i class="fas fa-fish"></i>, allergy-advice <i class="fas fa-allergies"></i> and can-be-served-hot <i class="fas fa-mitten"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'includes/contact.html' %}
{% endblock %}