{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- bartholemew CSS -->
    <link href="{% static 'css/bartholemew.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <body onload="createCookie()"></body>
    <section class="products-section">
        <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Build-a-Buffet</h1>
        <div class="chatbox-container row px-3 mx-auto">
            <div class="chatboxdiv">
                <div class="chatbox px-4 py-4" id="chatbox">
                    Hi! I’m Bartholemew, Build-A-Buffet’s resident robo-chef.
                    Let me help you Build-A-Buffet that your guests will love.
                </div>
            </div>
            <div class="chatimgdiv">
                <div class="chatimgbox float-right mb-1">
                    <img class="chatbox-image float-right" src="{{ MEDIA_URL }}assets/img/bartholemew.jpg" alt="robochef image" />
                </div>
            </div>
        </div>
        <div class="chatresponsebox">
            <button class="chat-button btn btn-primary px-3" id="startbart" onclick="return startBart();" >Start</button>
            <button class="chat-button btn btn-primary hidden px-3" id="partybart" onclick="return eventBart('party');" >Party</button>
            <button class="chat-button btn btn-primary hidden px-3" id="weddingbart" onclick="return eventBart('wedding');" >Wedding</button>
            <button class="chat-button btn btn-primary hidden px-3" id="functionbart" onclick="return eventBart('funct');" >Function</button>
            <button class="chat-button btn btn-primary hidden px-3" id="corporatebart" onclick="return eventBart('corporate');" >Corporate</button>
            <form class="chat-form hidden" id="guests">
                <label for="minGuests">Min:</label>
                <input type="number" id="minguests" name="minguests" min="1" max="1000">
                <label for="maxGuests">Max:</label>
                <input type="number" id="maxguests" name="maxguests" min="1" max="1000">
            </form>
            <button type="submit" onclick="return guestsBart();" class="chat-button btn btn-primary hidden px-3" id="guestsbart" >Go</button>
        </div>
    </section>

{% include 'includes/contact.html' %}
{% endblock %}

{% block postloadjs %}
<!-- Bartholemew -->
<script src="{% static 'js/bartholemew.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}
