{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <body onload="createCookie()"></body>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex align-items-center opaque-70">
            <div class="mx-auto text-center">
                <h1 class="mx-auto text-uppercase flex-margin-b">BUILD-A-BUFFET</h1>
                <h2 class="mx-auto flex-margin-b">Handmade selections of delicious food, delivered to your door for: parties, weddings, functions and corporate events.</h2>
                <a class="masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'bartholemew' %}">Get Started</a>
            </div>
        </div>
    </header>
    <!-- Produce-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Produce One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/pexels-kaboompics-com-5928.jpg" alt="salad bowl" /></div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-blue">Hot and cold</h4>
                                <p class="mb-0 text-blue">Delivered, ready to eat in Ziplok<sup>TM</sup> microwaveable bags, to keep your food fresh and delicious. Simply remove the packaging and serve, or for hot food, heat in the microwave for 30 seconds before serving.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Produce Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/pexels-kaboompics-com-5944.jpg" alt="chips-n-dips" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-blue">Options for all diets</h4>
                                <p class="mb-0 text-blue">A full choice of vegetarian and vegan options, both hot and cold, with allergy advice* provided across the full range of allergens.
                                    <br>
                                    <br> Find out more <a href ="{% url 'allergies' %}">here</a> ...
                                    <br>
                                    <br>
                                    <span class="text-xs-nav">* although every care is taken in our production process, we cannot guarantee allergen free.</span></p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'includes/contact.html' %}
{% endblock %}
