
.chatbox {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / 1620));
    border: 1px solid;
    border-radius: 35%;
    background-color: #f8f9fa;
}
.chatresponsebox {
    background-color: #eff4fa;
    margin-top: 1rem;
    padding: 1rem 0;
}
.chat-button {
    height: 2rem;
    padding: 0 0.5rem;
    margin-bottom: 0.15rem;
}

@media screen and (orientation: landscape){
    .chatboxdiv {
        padding-top: 5vh;
    }
    .chatbox {
        float: right;
    }
    .chatbox-image {
        width: 90%;
    }
    .chatboxdiv, .chatimgdiv {
        flex: 0 0 100%;
        max-width: 50%
    }
    .chatbox-container {
        width: 75vw;
    }
}
@media screen and (orientation: portrait){
    .chatbox {
        float: left;
    }
    .chatbox-image {
        width: 75%;
    }
    .chatboxdiv, .chatimgdiv {
        flex: 0 0 100%;
        max-width: 100%
    }
    .chatbox-container {
        width: 95vw;
    }
}
@media (min-width: 767px) {
    .chatbox, .chatimgbox {
        max-width: 50vw;
    }
    .chatbox-image {
        width: 75%;
    }
}
