{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <body onload="createCookie()"></body>

<section class="products-section">
    <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Customer Service</h1>
    <p class="product-text-three mx-2 text-center mb-2 text-blue">If you have a question, please submit it in the form below...</p>
    <div class="product-container row w-100 mx-0 justify-content-center mt-0 text-xl-left">
        <div class="col-lg-4">
            <form class="mt-3 text-center " action="{% url 'service' %}" method="POST" id="user-question-form">
                {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        <div><input class="mb-2 text-blue text-xs" type="text" value="{{ request.user }}" name="name"></div>
                        <div><input class="mb-2 text-blue text-xs" type="text" value="{{ request.user.email }}" name="email"></div>
                        <div><textarea class="width-100 mb-2 text-blue text-xs" rows="2" value="" name="question" placeholder = "type your question here..."></textarea></div>
                    {% else %}
                        <div><input class="mb-2 text-blue text-xs" type="text" value="" name="name" placeholder = "name"></div>
                        <div><input class="mb-2 text-blue text-xs" type="text" value="" name="email" placeholder = "email"></div>
                        <div><textarea class="width-100 mb-2 text-blue text-xs" rows="2" value="" name="question" placeholder = "type your question here..."></textarea></div>
                    {% endif %}
                <button class="width-50 px-auto border-solid masthead-button btn btn-primary js-scroll-trigger">Submit</button>
            </form>
        </div>
    </div>
</section>

{% include 'includes/contact.html' %}
{% endblock %}