{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Success -->
    <section class="products-section bg-light" id="products">
        <div class="container">
            <!-- Success One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Order Complete</h1>
                </div>
                <div class="col-12 col-lg-6 order-lg-last">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-0 text-center text-xl-left">
                                <div class="product-text-two mx-auto flex-margin-b text-blue bold">
                                    Order Number: {{ order.order_number }}
                                </div>
                                <hr>
                                <div class="product-text-three mx-auto flex-margin-b text-blue">
                                    The items below have been ordered ...
                                </div>
                                <br>
                                {% for item in order_items %}
                                    <div class="product-text-two mx-auto mb-2 text-blue bold">
                                        {{ item.category.title }}: {{ item.name }}
                                    </div>
                                    {% for product in products %}
                                        {% if product.name == item.name and product.category|slugify == item.category %}
                                            <div class="product-text-three mx-auto mb-2 text-blue">
                                                {{ product.description }}
                                            </div>
                                            <div class="allergy-text text-lightblue">
                                                {% if product.allergies|slice:"0:1" == '1' %}
                                                    <i class="fas fa-carrot"></i> vegan 
                                                {% endif %}
                                                {% if product.allergies|slice:"1:2" == '1' %}
                                                    <i class="fas fa-leaf"></i> vegetarian 
                                                {% endif %}
                                                {% if product.allergies|slice:"2:3" == '1' %}
                                                    <i class="fas fa-fish"></i> pescetarian 
                                                {% endif %}
                                                {% if product.allergies|slice:"3:4" == '1' %}
                                                    <i class="fas fa-allergies"></i> allergy advice 
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                    <div class="text-blue text-xs mb-2">
                                            {% for option in options %}
                                                {% if option.category|slugify == item.category %}
                                                    With the option:
                                                {% endif %}
                                            {% endfor %}
                                        {% if item.option == "selected-one" %}
                                            {% for option in options %}
                                                {% if option.category|slugify == item.category %}
                                                    <span class="text-blue product-text-two mb-2 bold">
                                                        {{ option.option1.title }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if item.option == "selected-two" %}
                                            {% for option in options %}
                                                {% if option.category|slugify == item.category %}
                                                    <span class="text-blue product-text-two mb-2 bold">
                                                        {{ option.option2.title }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if item.option == "selected-three" %}
                                            {% for option in options %}
                                                {% if option.category|slugify == item.category %}
                                                    <span class="text-blue product-text-two mb-2 bold">
                                                        {{ option.option3.title }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="text-blue text-xs mb-4">Number of servings:
                                        <span id="servings" class="text-blue product-text-two mb-2 bold">
                                            {{ item.servings }}
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 my-auto">
                                            {% for product in products %}
                                                {% if product.name == item.name %}
                                                    <div class="text-blue text-xs">
                                                        per serving
                                                    </div>
                                                    <div class="product-text-two mt-1">
                                                        £{{ product.price }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-6 my-auto">
                                            <div class="text-blue text-xs">
                                                Total price
                                            </div>
                                            <div class="product-text-two bold">
                                                £{{ item.total_price }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                <div class="col-12 col-lg-4 my-auto pl-0">
                                    <div class="product-text-two mx-auto mb-2 text-blue bold">
                                        Order Total
                                    </div>
                                    {% for order in orders %}
                                        <div class="product-text-header bold">
                                            £{{ order.order_total|floatformat:"2" }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div>
                                    {% if request.user.is_authenticated %}
                                        <a class="checkout-button border-solid masthead-button btn btn-primary js-scroll-trigger" 
                                            href="{% url 'profile' %}">
                                            <i class="fas fa-chevron-left" aria-hidden="true"></i> back to profile</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'includes/contact.html' %}
{% endblock %}
