{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Basket -->
    <section class="products-section bg-light" id="products">
        <div class="container">
            <!-- Basket One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Basket</h1>
                </div>
                <div class="col-xl-6">
                    <img class="img-fluid image-70" src="{{ MEDIA_URL }}assets/img/pexels-armand-m-3043328.jpg" alt="shopping basket" /></div>
                <div class="col-xl-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-0 text-center text-xl-left">
                                {% if basket_total.total_price__sum != None %}
                                    <div class="product-text-three mx-auto flex-margin-b text-blue">The items below have been added to your basket...</div>
                                {% else %}
                                    <div class="product-text-three mx-auto flex-margin-b text-blue">Your basket is empty.</div>
                                {% endif %}
                                    {% for basket in baskets %}
                                        <div class="product-text-two mx-auto mb-2 text-blue bold">{{ basket.category.title }}: {{ basket.name }}</div>
                                        {% for product in products %}
                                            {% if product.name == basket.name and product.category|slugify == basket.category|slugify %}
                                                <div class="product-text-three mx-auto mb-2 text-blue">{{ product.description }}</div>
                                                <div class="allergy-text text-lightblue">
                                                    {% if product.allergies|slice:"0:1" == 'v' %}
                                                        <i class="fas fa-carrot"></i> vegan 
                                                    {% endif %}
                                                    {% if product.allergies|slice:"1:2" == 'g' %}
                                                        <i class="fas fa-leaf"></i> vegetarian 
                                                    {% endif %}
                                                    {% if product.allergies|slice:"2:3" == 'p' %}
                                                        <i class="fas fa-fish"></i> pescetarian 
                                                    {% endif %}
                                                    {% if product.allergies|slice:"3:4" == 'a' %}
                                                        <i class="fas fa-allergies"></i> allergy advice 
                                                    {% endif %}
                                                    {% if product.allergies|slice:"4:5" == 'h' %}
                                                        <i class="fas fa-mitten"></i> can be served hot
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        <div class="text-blue text-xs mb-2">
                                            {% for option in options %}
                                                {% if option.category|slugify == basket.category|slugify %}
                                                    With the option:
                                                {% endif %}
                                            {% endfor %}
                                            {% if basket.option == "selected-one" %}
                                                {% for option in options %}
                                                    {% if option.category|slugify == basket.category|slugify %}
                                                        <span class="text-blue product-text-two mb-2 bold">{{ option.option1.title }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if basket.option == "selected-two" %}
                                                {% for option in options %}
                                                    {% if option.category|slugify == basket.category|slugify %}
                                                        <span class="text-blue product-text-two mb-2 bold">{{ option.option2.title }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if basket.option == "selected-three" %}
                                                {% for option in options %}
                                                    {% if option.category|slugify == basket.category|slugify %}
                                                        <span class="text-blue product-text-two mb-2 bold">{{ option.option3.title }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="text-blue text-xs mb-4">Number of servings ...
                                            <span id="servings" class="text-blue product-text-two mb-2 bold">{{ basket.servings }}</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 my-auto">
                                                {% for product in products %}
                                                    {% if product.name == basket.name and product.category|slugify == basket.category|slugify %}
                                                        <div class="text-blue text-xs">per serving</div>
                                                        <div class="product-text-two mt-1">£{{ product.price }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="col-4 my-auto">
                                                <div class="text-blue text-xs">Total price</div>
                                                <div class="product-text-header bold">£{{ basket.total_price }}</div>
                                            </div>
                                            <div class="col-4 my-auto py-auto">
                                                {% for product in products %}
                                                    {% if product.name == basket.name and product.category|slugify == basket.category|slugify %}
                                                        <a class="edit-button border-solid masthead-button btn btn-primary js-scroll-trigger" 
                                                            href="{% url 'edit_basket_item' %}?item_number={{ basket.id }},{{ product.id_no }}">
                                                            <i class="fas fa-edit" aria-hidden="true"></i> edit</a>
                                                        <a class="delete-button border-solid masthead-button btn btn-primary js-scroll-trigger" 
                                                            href="{% url 'delete_basket_item' %}?delete_item={{ basket.id }},{{ product.id_no }">
                                                            <i class="fas fa-trash-alt" aria-hidden="true"></i> remove</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <div class="row">
                                        <div class="col-4 my-auto">
                                            <div class="product-text-two mx-auto mb-2 text-blue bold">Basket Total</div>
                                            {% if basket_total.total_price__sum != None %}
                                                <div class="product-text-header bold">£{{ basket_total.total_price__sum|floatformat:"2" }}</div>
                                            {% else %}
                                                <div class="product-text-header bold">£0.00</div>
                                            {% endif %}
                                        </div>
                                        <div class="col-8 my-auto">
                                            {% if basket_total.total_price__sum != None  %}
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a class="empty-button border-solid masthead-button btn btn-primary js-scroll-trigger" id="empty-basket"
                                                            href="{% url 'empty_basket' %}">
                                                            <i class="fas fa-trash-alt" aria-hidden="true"></i> empty<br>basket</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a class="checkout-button border-solid masthead-button btn btn-primary js-scroll-trigger" 
                                                            href="{% url 'checkout' %}?basket_number={{ cookie }}">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i><br> checkout</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% include 'includes/contact.html' %}
{% endblock %}
