{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Produce-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Produce One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    {% if category %}
                        <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">{{ category }}</h1>
                    {% else %}
                        <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Error</h1>
                    {% endif %}
                </div>
                <div class="col-xl-6">
                    <img class="img-fluid image-80" src="/media/assets/img/pexels-kaboompics-com-5928.jpg" alt="salad bowl" /></div>
                <div class="col-xl-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-0 text-center text-xl-left">
                                <div class="row">
                                    <div class="col-4">
                                        {% if range == "standard" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},standard">Standard</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},standard">Standard</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if range == "premium" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},premium">Premium</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},premium">Premium</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if range == "luxury" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},luxury">Luxury</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'filter_products' %}?category_range={{ category }},luxury">Luxury</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% for product in products %}
                                    {% if range %}
                                        {% if product.range == range %}
                                            <h2 class="product-text-two mx-auto flex-margin-b text-blue">{{ product.name }}</h2>
                                        {% endif %}
                                    {% else %}
                                        {% if product.range == "standard" %}
                                            <h2 class="product-text-two mx-auto flex-margin-b text-blue">{{ product.name }}</h2>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <hr class="d-none d-xl-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">22 Acacia Avenue</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+1 (555) 555-5555</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}