{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Produce -->
    <section class="products-section bg-light" id="products">
        <div class="container">
            <!-- Produce One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    {% if category %}
                        <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">{{ category }}</h1>
                    {% else %}
                        <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Error</h1>
                    {% endif %}
                </div>
                <div class="col-xl-6">
                    {% if category %}
                        {% for image in image %}
                            {% if image.image %}
                                <img class="img-fluid image-80" src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ category }} image" />
                            {% else %}
                                <img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/noimage.png" alt="no image" />
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/pexels-kaboompics-com-5928.jpg" alt="salad bowl" />
                    {% endif %}
                </div>
                <div class="col-xl-6">
                    <div class="h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-0 text-xl-left">
                                <div class="row">
                                    <div class="col-4">
                                        {% if range == "standard" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},standard">Standard</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},standard">Standard</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if range == "premium" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},premium">Premium</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},premium">Premium</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if range == "luxury" %}
                                            <a class="product-selected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},luxury">Luxury</a>
                                        {% else %}
                                            <a class="product-unselected masthead-button opaque-100 btn btn-primary js-scroll-trigger flex-margin-b" href="{% url 'products' %}?category_range={{ category }},luxury">Luxury</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% for product in products %}
                                    {% if range %}
                                        <!-- Credit: https://stackoverflow.com/questions/27771000/django-template-convert-to-string -->
                                        {% if product.range == range and product.category|slugify == category %}
                                            <div class="px-3 flex-margin-b text-blue">
                                                <a class="product-text-two" href="{% url 'product_detail' %}?category_product={{ category }},{{ product.name }},selected-one">{{ product.name }}</a>
                                                <span class="allergy-text">
                                                    {% if product.allergies|slice:"0:1" == '1' %}
                                                        <i class="fas fa-carrot"></i>
                                                    {% endif %}
                                                    {% if product.allergies|slice:"1:2" == '1' %}
                                                        <i class="fas fa-leaf"></i>
                                                    {% endif %}
                                                    {% if product.allergies|slice:"2:3" == '1' %}
                                                        <i class="fas fa-fish"></i>
                                                    {% endif %}
                                                    {% if product.allergies|slice:"3:4" == '1' %}
                                                        <i class="fas fa-allergies"></i>
                                                    {% endif %}
                                                </span>
                                                <span class="product-text-two float-right">£{{ product.price }}</span>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if product.range == "standard" %}
                                            <div class="product-text-two mx-auto flex-margin-b text-blue">
                                                {{ product.name }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <hr class="mb-0 ml-0" />
                                <br class="d-none d-xl-block">
                                <span class="allergy-text text-lightblue">* vegan <i class="fas fa-carrot"></i>, vegetarian <i class="fas fa-leaf"></i>, pescetarian <i class="fas fa-fish"></i> and allergy-advice <i class="fas fa-allergies"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'includes/contact.html' %}
{% endblock %}