{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Produce-->
    <section class="products-section bg-light" id="products">
        <div class="container">
            <!-- Produce One Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-12">
                    <h1 class="product-text-one mx-auto text-uppercase text-center flex-margin-b text-blue">Product Admin</h1>
                </div>
                <div class="col-xl-6">
                    {% if dataset == "categories" %}
                        {% if form.image.value %}
                            <!-- Credit: https://stackoverflow.com/questions/2236691/how-do-i-display-the-value-of-a-django-form-field-in-a-template -->
                            <img class="img-fluid image-80" src="{{ MEDIA_URL }}{{ image.image }}{{ form.image.value }}" alt="{{ form.name.value }} image" />
                        {% else %}
                            <img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/noimage.png" alt="no image stored" />
                        {% endif %}
                    {% else %}
                        <img class="img-fluid image-80" src="{{ MEDIA_URL }}assets/img/pexels-kaboompics-com-5928.jpg" alt="salad bowl" />
                    {% endif %}
                </div>
                <div class="col-xl-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="product-container w-100 mt-0 text-center text-xl-left">
                                <div class="text-blue text-xs mb-2">
                                    Choose from the options below to edit/add ...
                                </div>
                                <div class="row mb-2">
                                    {% if dataset == "products" %}
                                        <div class="col-4">
                                            <a class="product-selected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=products">
                                                Products</a>
                                        </div>
                                    {% else %}
                                        <div class="col-4">
                                            <a class="product-unselected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=products">
                                                Products</a>
                                        </div>
                                    {% endif %}
                                    {% if dataset == "options" %}
                                        <div class="col-4">
                                            <a class="product-selected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=options">
                                                Options</a>
                                        </div>
                                    {% else %}
                                        <div class="col-4">
                                            <a class="product-unselected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=options">
                                                Options</a>
                                        </div>
                                    {% endif %}
                                    {% if dataset == "categories" %}
                                        <div class="col-4">
                                            <a class="product-selected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=categories">
                                                Categories</a>
                                        </div>
                                    {% else %}
                                        <div class="col-4">
                                            <a class="product-unselected masthead-button btn btn-primary js-scroll-trigger" 
                                                href="{% url 'product_admin' %}?dataset=categories">
                                                categories</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-5 justify-content-center p-0 ml-lg-n2 pl-xl-4">
                                        <div class="product-search-container mx-auto">
                                            <div class="d-inline">
                                                <form class="ml-n4 ml-lg-0" action="{% url 'product_admin' %}" method="GET">
                                                {% csrf_token %}
                                                    <input class="hidden" type="text" name="dataset" id="dataset" value="{{ dataset }}">
                                                    <input class="product-search-input text-blue text-xs" type="text" name="product_search" id="product_search" placeholder=" search for {{ dataset }}...">
                                                    <button class="search-button text-center" type="submit">
                                                            <i class="fas fa-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-inline col-lg-2"></div>
                                    <div class="col-12 col-lg-5 justify-content-center p-0">
                                        <div class="product-search-container mx-auto">
                                            <div class="d-inline">
                                                {% if return_query_length != 0 %}
                                                    {% if return_query_number == 1 %}
                                                        <button class="search-button text-center ml-n4" type="submit">
                                                                <i class="fas fa-step-backward"></i>
                                                        </button>
                                                    {% else %}
                                                        <a class="search-button text-center ml-n4 pt-1" 
                                                        href="{% url 'prev_product' %}?this_product={{ dataset }},{{ return_query_number }},{{ return_query_length }},{{ query }}">
                                                        <i class="fas fa-backward"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="d-inline">
                                                {% if return_query_length != 0 %}
                                                    <input class="product-search-input text-blue text-xs text-center" type="text" name="product_query_length" id="product_query_length" 
                                                    value=" record {{ return_query_number }} of: {{ return_query_length }}">
                                                {% else %}
                                                    <input class="product-search-input text-blue text-xs text-center" type="text" name="no_product_query_length" id="no_product_query_length" 
                                                    value=" no records found">
                                                {% endif %}
                                            </div>
                                            <div class="d-inline">
                                                {% if return_query_length != 0 %}
                                                    {% if return_query_number == return_query_length %}
                                                        <button class="search-button text-center ml-n4" type="submit">
                                                                <i class="fas fa-step-forward"></i>
                                                        </button>
                                                    {% else %}
                                                        <a class="search-button text-center ml-n4 pt-1" 
                                                        href="{% url 'next_product' %}?this_product={{ dataset }},{{ return_query_number }},{{ return_query_length }},{{ query }}">
                                                        <i class="fas fa-forward"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <form class="mt-3" action="{% url 'update_product' form.id_no.value %}" method="POST" enctype="multipart/form-data" id="product-update-form">
                                            {% csrf_token %}
                                            {% for field in form %}
                                                {% if field.name != 'image' %}
                                                    {{ field | as_crispy_field }}
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                            {% endfor %}
                                            <button class="border-solid masthead-button btn btn-primary js-scroll-trigger float-right">Update</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <hr class="d-none d-xl-block mb-0 ml-0">
            </div>
        </div>
    </section>

{{ block.super }}
{% include 'includes/contact.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}